@page
@model ElderSense.Pages.DadosMonitorizacao.IndexModel

@{
    ViewData["Title"] = "Dados de Monitorização";
}

<h1>Dados de Monitorização</h1>

<table class="table">
    <thead>
        <tr>
            <th>Data/Hora</th>
            <th>Tipo</th>
            <th>Valor</th>
            <th>Sensor</th>
            <th>Dono</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dado in Model.Dados)
        {
            <tr>
                <td>@dado.DataHora.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@dado.Tipo</td>
                <td>@dado.Valor</td>
                <td>@dado.FKSensor</td>
                <td>@dado.FKUtilizador</td>
            </tr>
        }
    </tbody>
</table>