@page
@model RegisterModel

@{
    //carregar css
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div class="login-container-vertical">
    <section>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2 class="text-center">Criar conta</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <!-- Nome -->
            <div class="form-floating mb-3">
                <input asp-for="Input.Nome" class="form-control" aria-required="true" placeholder="O seu nome" />
                <label asp-for="Input.Nome">Nome Completo</label>
                <span asp-validation-for="Input.Nome" class="text-danger"></span>
            </div>

            <!-- Tipo de Utilizador (Enum) -->
            <div class="form-floating mb-3">
                <select asp-for="Input.Tipo" class="form-control"
                        asp-items="Html.GetEnumSelectList<ElderSense.Data.Model.TipoUtilizador>()">
                    <option value="">Selecione o tipo...</option>
                </select>
                <label asp-for="Input.Tipo">Tipo de Perfil</label>
                <span asp-validation-for="Input.Tipo" class="text-danger"></span>
            </div>

            <!-- Email (Pode vir preenchido do Login) -->
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="nome@exemplo.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <!-- Password -->
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <!-- Confirmar Password -->
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
                <label asp-for="Input.ConfirmPassword">Confirmar Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Registar</button>
        </form>
    </section>

    <!-- Secção de Login Externo-->
    <section class="external-login-wrapper">
        <hr />
        <h5 class="text-center mb-3">Ou registar com:</h5>
        @{
            if ((Model.ExternalLogins?.Count ?? 0) > 0)
            {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="text-center">
                    @foreach (var provider in Model.ExternalLogins!)
                    {
                        <button type="submit" class="btn-google-icon" name="provider" value="@provider.Name" title="Registar com @provider.DisplayName">
                            @if (provider.DisplayName == "Google")
                            {
                                <img src="~/images/google-logo.png" alt="Google" style="width:24px;" />
                            }
                            else
                            {
                                @provider.DisplayName
                            }
                        </button>
                    }
                </form>
            }
        }
    </section>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
